%nav.navbar.navbar-expand-lg.navbar-light.fixed-top{:style => "background-color: #e3f2fd;"}
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarTogglerDemo02", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarTogglerDemo02", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  %a.navbar-brand{:href => "#!"}
    %h2 Welcome to my page
  #navbarTogglerDemo02.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto.mt-2.mt-md-0
      %li.nav-item
        %a.nav-link{:href => "#!"}
          = fa_icon("home")
          Home　　
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => "#!"} 
          = fa_icon("user")
          profile　　
      %li.nav-item
        %a.nav-link{:href => "/blogs"}
          = fa_icon("book") 
          blog　
      %li.nav-item__port
        %a.nav-link{:href => "#!"} 
          = fa_icon("link")
          portfolio
      %form.form-inline
        %input.form-control.mr-sm-2{:placeholder => "Search", :type => "text"}/
        %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search


